#logo_img {
	margin-bottom: 10px;
}

.faculty_image {
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#myheading {
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #A4A4A4;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}